/* убрать стилизацию тегов */
/* добавить комменты для себя */

html {
	font-family: sans-serif;
}

*, *:after, *:before {
	box-sizing: border-box;
}

/* header */
header {
	width: 100%;
	position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: black;
    justify-content: space-between;
}

/* надо сделать нормальную стилизацию у меню */
.logo {
	text-decoration: none;
    color: white;
    font-weight: 900;
}

.navigation {
    display: flex;
    flex-direction: row;

	.button {
	    margin-left: 5px;
	    margin-right: 5px;
		display: block;
		padding: 10px 20px;

		.link {
			text-decoration: none;
			color: white;
		}

		.link:hover {
			color: gray;
		}
	}
}

/* невероятный костыль */
@media (max-width: 700px) {
	/* удалить это из существования */
	.navigation {
		height: 40px;

		.button {
			display: none;
		}
	}
}

/* body */
body {
	margin: 0;
	line-height: 1.5;
	min-height: 100vh;
	background-color: gray;
}

h1 {
	text-align: center;
	color: white;
	line-height: 100px;
	margin: 0;
}

.main {
	width: 100%;
	padding: 10px;
	margin: 10px;
	background: white;
	margin-top: 90px;
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px black;

	.title {
		margin: 15px;
	}
}

/* cardы */
.card {
	margin: 10px;
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px black;
	background-color: white;
	padding: 1.5rem;
	flex: calc(100% / 4 - 2rem);

	.tag {
		display: inline-block;
		background-color: gray;
		color: black;
		font-weight: 600;
		font-size: 0.875rem;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		margin-bottom: 4px;
	}

	.image-radius {
		width: 100%;
		border-radius: 16px;
		margin-top: 12px;
	}

	.title {
		font-size: 1.5rem;
		color: black;
		line-height: 1.25;
	}

	.info {
		color: black;
	}

	.button {
		font: inherit;
		line-height: 1;
		background-color: white;
		border: 2px solid black;
		color: black;
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;

		&:hover, &:focus {
			background-color: black;
			color: white;
		}
	}
}

.main-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* с этим разобраться получше */
@media (min-width: 1400px) {
	.main-content {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}
